# NOTE: this template is used by the xos-services-up in platform-install

version: '2'

networks:
  xos:
    external: true

services:
  exampleservice-synchronizer:
    image: {{ pull_docker_registry }}xosproject/{{ item.name }}-synchronizer:{{ pull_docker_tag }}
    networks:
{% for network in xos_docker_networks %}
      - {{ network }}
{% endfor %}
    depends_on:
      - xos_redis
    links:
      - xos_redis:redis
    volumes:
      - {{ head_cord_profile_dir }}/xos_config_synchronizer.yaml:/opt/xos/xos_config.yaml:ro
      - {{ head_cord_profile_dir }}/node_key:/opt/cord_profile/node_key:ro
      - {{ head_credentials_dir }}:/opt/xos/services/{{ item.name }}/credentials:ro
      - {{ head_cord_profile_dir }}/im_cert_chain.pem:/usr/local/share/ca-certificates/local_certs.crt:ro
      - {{ head_cord_profile_dir }}/key_import/{{ item.keypair }}:/opt/xos/services/{{ item.name }}/keys/{{ item.keypair }}:ro
    logging:
      driver: "json-file"
      options:
        max-size: "1000k"
        max-file: "5"
    restart: unless-stopped
